varys-content-router/src/main/app/varys-content-router.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <expression-filter expression="#[message.inboundProperties.'http.request.uri' != '/favicon.ico']" name="Expression" doc:name="Expression"/>
    <sub-flow name="default_language">
        <logger message="No language specified, selecting random language" level="INFO" doc:name="Logger"/>
        <round-robin tracking:enable-default-events="true" doc:name="Round Robin">
            <processor-chain>
                <set-variable variableName="language" value="English" doc:name="Variable - English"/>
                <set-payload value="Hello!" doc:name="Set Payload - English"/>
            </processor-chain>
            <processor-chain>
                <set-variable variableName="language" value="Chinese" doc:name="Variable - Chinese"/>
                <set-payload value="Ching chao chu!" doc:name="Set Payload - Chinese"/>
            </processor-chain>
            <processor-chain>
                <set-variable variableName="language" value="Russian" doc:name="Variable - Russian"/>
                <set-payload value="Rus!" doc:name="Set Payload - Russian"/>
            </processor-chain>
        </round-robin>
    </sub-flow>
    <flow name="varys-content-routerFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="*" doc:name="HTTP"/>
        <expression-filter expression="#[message.inboundProperties.'http.request.uri' != '/favicon.ico']" doc:name="Expression"/>
        <set-variable variableName="language" value="#[message.inboundProperties.'http.query.params'.language]" doc:name="Variable"/>
        <choice doc:name="Choice">
            <when expression="#[flowVars.language == 'Kannada']">
                <set-payload value="Namask&#257;ra!" doc:name="Set Payload - Kannada"/>
            </when>
            <when expression="#[flowVars.language == 'Spanish']">
                <set-payload value="Hola!" doc:name="Set Payload - Spanish"/>
            </when>
            <when expression="#[flowVars.language == 'Deutsch']">
                <set-payload value="Halo!" doc:name="Set Payload - Deutsch"/>
            </when>
            <otherwise>
                <flow-ref name="default_language" doc:name="default_language"/>
            </otherwise>
        </choice>
        <logger message="The reply &quot;#[payload]&quot; means &quot;hello&quot; in #[flowVars.language]." level="INFO" doc:name="Logger"/>
    </flow>
</mule>
